include README
include COPYING
include TODO
include setup.py
include bin/tritium
include docs/tritium.1
include etc/keys.py
include etc/layout.py
include extras/tritium.desktop
include tritium/*.py
include tritium/frame/*py
include changelog
